<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="probabilistic"
            kind="boolean"
            name="Event-B Probabilistic Attribute">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.event">
         <attributeType
               typeId="fr.systerel.rodinextension.sample.probabilistic">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.core.machineFile">
         <attributeType
               typeId="fr.systerel.rodinextension.sample.bound">
         </attributeType>
      </relationship>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="fr.systerel.rodinextension.sample.basis.Bound"
            id="bound"
            name="Event-B Bound Element">
      </internalElementType>
      <internalElementType
            class="fr.systerel.rodinextension.sample.SCBound"
            id="scBound"
            name="Event-B Static Checked Bound Element">
      </internalElementType>
   </extension>
   <extension
         point="org.eventb.core.scModuleTypes">
      <processorType
            class="fr.systerel.rodinextension.sample.MachineBoundModule"
            id="machineBoundModule"
            name="Machine SC Bound Module"
            parent="org.eventb.core.machineModule">
      </processorType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="qpConfig"
            name="Qualitative Probabilistic Reasoning Plug-in Configuration">
         <scModule
               id="fr.systerel.rodinextension.sample.machineBoundFreeIdentsModule">
         </scModule>
         <scModule
               id="fr.systerel.rodinextension.sample.machineBoundModule">
         </scModule>
      </configuration>
   </extension>
   <extension
         point="org.eventb.core.pogModuleTypes">
      <processorType
            class="fr.systerel.rodinextension.sample.pog.modules.FwdMachineBoundModule"
            id="fwdMachineBoundModule"
            name="Machine POG Forward Bound Module"
            parent="org.eventb.core.machineModule">
      </processorType>
   </extension>

</plugin>
